<div class="card">
    <div class="card_header">
        <p>{{warehouse.name}}</p>
    </div>
    <div class="card_body">
        <p>{{warehouse.location}}</p>
        <p>Truck Storage: {{warehouse.truck_storage || 0}}</p>
        <p>Van Storage: {{warehouse.van_storage || 0}}</p>
        <p>Pallet Storage: {{warehouse.pallet_storage || 0}}</p>
    </div>
    <div>
        <fieldset>
            <legend>Choose your vehicle:</legend>
        
            <div *ngFor="let item of trucks">
              <input type="checkbox" [id]="item.make" [name]="item.make">
              <label [for]="item.make">{{item.make}}</label>
            </div>
        </fieldset>
    </div>
    <div class="card_footer">
        <button class="small" (click)="addVehicle()">Add Truck</button>
    </div>
</div>

<app-modal *ngIf="isToggle" (closeEvent)="closeEventClicked($event)"></app-modal>

