<div class="card">
    <div class="card_header">
        <p>Warehouse Creation Page</p>
    </div>
    <div class="card_body">
        <div class="form_fields">
            <label for="w_name">Name:</label>
            <input type="text" id="w_name">
        </div>
        <div class="form_fields">
            <label for="w_location">Locattion:</label>
            <input type="text" id="w_location">
        </div>
    </div>
    <div class="card_footer">
        <button class="small">Create</button>
    </div>
</div>
