@use 'variables';

#app_container {
    display: grid;
    grid-template: min-content auto min-content / repeat(12, 1fr);
    gap: 0 1rem;
    background-color: variables.$secondary;
    position: relative;
    &.open {
        gap: unset;
        nav {
            grid-row: 1 / -1;
            visibility: visible;
            display: block;
        }

        app-header, app-footer {
            grid-column: 2 / -1;
        }

        main {
            grid-column: span 11;
        }
    }
}

app-header, app-footer {
    grid-column: 1 / -1;
}

nav{
    grid-column: span 1;
    background-color: variables.$tertiary;
    visibility: hidden;
    display: none;
}

main {
    grid-column: span 12;
    padding: 1rem;
}

nav,main {
    min-height: calc(100vh - 120px);
}