/* You can add global styles to this file, and also import other style files */
@use 'variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}

ul {
    list-style: none;
    li {
        a {
            text-decoration: none;
        }
    }
}

button {
    border: none;
    background: none;
    padding: 0;
}

.card {
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid variables.$secondary;
}